/* =====================================================
   FOOTER
===================================================== */

.footer {
  padding: 40px 0;
  text-align: center;

  border-top: 1px solid #2a2a2a;

  color: #777;
  font-size: 14px;
}
