/* ===== Reset básico ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== Estilos generales ===== */

body {
  background-color: #0f0f0f;
  color: white;
  font-family: "Inter", system-ui, sans-serif;

  position: relative;
  z-index: 1;
}

html {
  scroll-behavior: smooth;
}

/* ===== Contenedor principal ===== */

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ===== Tarjetas de sección ===== */

.section-card {
  background: rgba(255, 255, 255, 0.01);

  border: 1px solid rgba(34, 197, 94, 0.25);
  border-radius: 30px;

  box-shadow: 0 0 40px rgba(34, 197, 94, 0.08);

  padding: 80px 60px;
  margin-bottom: 80px;
}

/* Ajuste para que no tape el navbar */

.sobre-mi,
.proyectos,
.tecnologias,
.contacto {
  scroll-margin-top: 90px;
}

/* ===== Mobile ===== */

@media (max-width: 768px) {
  .section-card {
    padding: 50px 20px;
    border-radius: 20px;
  }
}
